
.screen-max-width{
    max-width: 1200px;
    margin: auto;
}

@media screen and (max-width : 320px) {
    h1#caption {
        font-size: 25px;
        font-weight: bold;
    }
    div#agreeButton {
        width: 100%;
    }
    div#lovelove {
        flex-direction: column;
    }
}

@media screen and (max-width : 425px) {

    h1#caption {
        font-size: 40px;
        font-weight: 700;
    }
    div#lovelove {
        flex-direction: column;
    }
}
